.navbar .btn-outline-light:hover{
    color: var(--bs-dark);
}

.header {
    background: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}

.download {
    background: url('../images/download-background.jpg') center center no-repeat;
    background-size: cover;
}

@media (max-width: 1000px) {
.navbar {
    background: var(--bs-dark);
}
  
.hero .image-container {
    display: flex;
    justify-content: center;
}
  
.hero .text-container {
    text-align: center;
}
}

.navbar-sticky{
    opacity: 0.9;
}

.map iframe {
    left: 0;
    top: 0;
    height: 400px;
    width: 100%;
    border: none;
}